body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.presentationTitle,.frameTitle {
  font-size:1.5em;
  font-weight:bold;
}

.frameDescription {
  width:100%;
}

#uploadNewPresentation {
  position:relative;
  top:20px;
  left:0px;
}

#editContent {
  display:none;
}

#alerts {
  position:fixed;
  right:20px;
  width:35em;
  top:20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
